<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link href="/styles.css" rel="stylesheet">
        <title> Error HBS </title>
        
    </head>
    <body>
        <div id="wrapper">
            {{>logoutheader}}

            <p>{{errorMessage}}</p>

            {{>footer}}
        </div>
        <script src=" https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
        <script src="../../server.js"></script>
        <script src="../../script.js"></script>
        
        
        
        
    </body>
</html>        