<!doctype html>

<html>
    <head>
        <title> Categories </title>
        <link href="/css/styles.css" rel="stylesheet">
        


    </head>
    <body>
        <div id="wrapper">
            {{>loggedheader}}
        
            {{>footer}}
     <script src=" https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>  
     <script src="/scripts/script.js"></script>    </div>    
    </body>
</html>