<!DOCTYPE html>

<html>
    <head>
        <link href="/css/styles.css" rel="stylesheet">
        


    </head>
    <body>
        <div id="wrapper">
            {{>loggedheader}}
            
           <div id="search1">
                <form id="hi">
                    <input type="text" placeholder="code" id="ho">
                    <button> search </button>
                </form>

                <p id="message_1"> </p>
                <p id="message_2"> </p> 


            </div> 

            
            {{>footer}}
        </div>
        <script src=" https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>    
        <script src="/scripts/script1.js"></script>
    </body>
</html>