<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link href="../styles.css" rel="stylesheet">
        <title> Create a Project HBS</title>

    </head>
    <body>
        {{>logoutheader}}
        
        <div id="headpost">

        </div>
        <div id="top2">

            <form  method="POST" action="/projects">
                <p>
                <label>Enter Project Description:</label>
                <input type="text" name="projectdescription">
                </p>
                <p>
                <label> Enter Project Due Date: </label>
                <input id ="date" type="date" name="projectdue">
                </p>
                <p>
                <label> Enter fixed project budget: </label>
                <span class="usd"> 
                   <i>$</i> <input type="number" name="projectcost">
                </span>
                </p> 
                <p><button id="submitcreation" type="submit" value="submit"> Create Project </button></p>
            </form>
               
        </div>
        {{>footer}}
        
        
         
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
        <script src="../../dateSelector.js"></script>
        <script src="../../server.js"></script>
        <script src="../../script.js"></script>   
       

    </body>
</html>