<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title> Index HBS</title>
        <link href="../styles.css" rel="stylesheet">
    </head>
    <body>
    {{>indexheader}}    
    
        <div id="wrapper">
            <div id="list1">   
                <ul class="lista" style="font-size:20px">
                    <li class="rows"> Blogging </li>
                    <li class=""> Content Creation </li>
                    <li class=""> Academic Research </li>
                    <li class=""> Academic Research </li>
                    <li class=""> Academic Research </li>

                </ul> 
            </div>
            <div id="list2">   
                <ul class ="listb" style="font-size:20px">
                    <li> Html </li>
                    <li> wordpress </li>
                    <li> CSS </li>
                </ul> 
            </div>
            <div id="list3">   
                <ul class ="listc" style="font-size:20px">
                    <li> Data Entry </li>
                    <li> VBA Macros </li>
                    <li> MS Excel </li>
                </ul> 
            </div>
            <div id="list4">   
                <ul class ="listd" style="font-size:20px">
                    <li> Photoshop </li>
                    <li> Logo Design </li>
                    <li> Photo Editing </li>
                    <li> 3D Animation </li>
                </ul> 
            </div>
        </div>
        <div id="top2">
                
                    
        </div>
        {{>footer}}
                
    <script src="../../server.js"></script>
    <script src="../../script.js"></script>   
    </body>
</html>