<!DOCTYPE html>

<html>
    <head>
        <link href="/styles.css" rel="stylesheet">
        <title> Login HBS </title>

    </head>
    <body>
    {{>loginheader}}    
        
        <div id="login">
            <div id="">
                Username: <input type="text" >
            </div> 
            <div id="">         
                Password: <input type="text" style="margin-top:30px;">
            </div>
            <button type="button" id="bot" style="margin-top:30px;"> login </button>
    

        </div>
        <div id="top2">
                    
        </div>
        {{>footer}}
        <!--
        <div id="nav1">
           <ul>
                <li><a href="" > Terms and Conditions </a></li>
                <li><a href="" > Privacy Policy </a></li>
                <li><a href="" > Notice to Users </a></li>
                <li><a href="" > How it works </a></li>
                <li><a href="" > Blog </a></li>
                <li><a href="" > Contact Us </a></li>
            </ul>
        </div>
        -->
        <script src="../../script.js"></script>
        <script src="../../app.js"></script> 
    </body>
</html>