<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link href="/styles.css" rel="stylesheet">
        <title> Login HBS </title>

    </head>
    <body>
    {{>loginheader}}    
        
        <div id="login">
            <form method="POST" action="/login">
                <div id="">
                    email: <input type="email" name="email">
                </div> 
                <div id="">         
                    Password: <input type="password" name="password" style="margin-top:30px;">
                </div>
                <button type="submit" id="bot" style="margin-top:30px;"> login </button>
            </form>

        </div>
        <div id="top2">
                    
        </div>
        {{>footer}}
        <!--
        <div id="nav1">
           <ul>
                <li><a href="" > Terms and Conditions </a></li>
                <li><a href="" > Privacy Policy </a></li>
                <li><a href="" > Notice to Users </a></li>
                <li><a href="" > How it works </a></li>
                <li><a href="" > Blog </a></li>
                <li><a href="" > Contact Us </a></li>
            </ul>
        </div>
        -->
        <script src="../../server.js"></script> 
        <script src="../../script.js"></script>
        
    </body>
</html>