<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link href="/styles.css" rel="stylesheet">
        <title> Login HBS </title>

    </head>
    <body>
    {{>logoutheader}}    
        
        <div id="login">
            
          <p><button type="button" id="bot" style="margin-top:30px;"> logout </button></p>
    

        </div>
        <div id="top2">
                    
        </div>
        {{>footer}}

        <script src="../../server.js"></script> 
        <script src="../../script.js"></script>
        
    </body>
</html>