<!doctype html>

<html>
    <head>
        <link href="/styles.css" rel="stylesheet">
        <title> Postajob HBS</title>

    </head>
    <body>
        {{>loginheader}}
        
        <div id="headpost">

        </div>
        <div id="top2">
            
            <div id="split1">
                
            </div>
            <div id="split2">

            </div>
                    
        </div>
        {{>footer}}
        
        
        
        <script src="../../script.js"></script>
        <script src="../../app.js"></script> 
    </body>
</html>