<!DOCTYPE html>

<html>
    <head>
        <link href="/styles.css" rel="stylesheet">
        <title> Signup HBS </title>

    </head>
    <body>
    {{>loginheader}}
        
        <div id="signup">
            <form id="join" method="POST" action="/members">
                
                <label>First Name:</label>
                <input type="text" name="first" placeholder="First Name"><br />
                <br/>
                <label>Last Name: </label>
                <input type="text" name="last" placeholder="Last Name"><br />
                <br/>
                <label> Email: </label>
                <input type="text" name="email" placeholder="Email"><br />
                <br/>
                <label> Country: </label>
                <select id="kuntry" style="margin-right:0px; width:350px;">
                    <option value="--Select a Country--">--Select a Country--</option>
                </select>    
                <br/>
                <br/>
                <label> Tel: + </label>
                <input type="tel" name="tel" placeholder="Phone Number"><br />
                <br/>
                <label>Create a username:</label>
                <input type="text"><br />
                <br/>
                <label>Create a password:</label>
                <input type="password"><br />
                <br/>
                <label>Re-enter password:</label>
                <input type="password"><br />
                <br/>
                <button id="but" type="submit"> sign up </button>
            </form>
                    
        
    
        </div>
        <div id="top2">
                    
        </div>
        {{>footer}}
        
        
        
        <script src="../../script.js"></script>
        <script src="../../app.js"></script>
    </body>
</html>