<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link href="../styles.css" rel="stylesheet">
        <title> Signup HBS </title>

    </head>
    <body>
    {{>loginheader}}
        
        <div id="signup">
            <form  method="POST" action="/members">
                
                <label>First Name:</label>
                <input type="text" name="firstname" placeholder="First Name" value="Jane"><br />
                <br/>
                <label>Last Name: </label>
                <input type="text" name="lastname" placeholder="Last Name" value="Doe"><br />
                <br/>
                <label> Email: </label>
                <input type="text" name="email" placeholder="Email" value="janedoe@mail.com"><br />
                <br/>
                <label> Country: </label>
                <select id="kuntry" style="margin-right:0px; width:350px;" name="country">
                    <option value="--Select a Country--"> --Select a Country-- </option>
                </select>    
                <br/>
                <br/>
                <label> Tel: + </label>
                <input type="tel" name="phone" placeholder="Phone Number" value=""><br />
                <br/> 
                <label>Create a username:</label>
                <input type="text" name="username" value="janedoe"><br />
                <br/>
                <label>Create a password:</label>
                <input type="password" name="password"><br />
                <br/>
                <br/>
                <button id="but" type="submit" value="submit"> Sign up</button>
            </form>
                    
        
    
        </div>
        <div id="top2">
                    
        </div>
        {{>footer}}
        
        
        
        <script src="../../server.js"></script>
        <script src="../../script.js"></script>
        
    </body>
</html>