
            
        <div id="top1">   
            <form> 
                <input type="text" name="username" class="name" value="search" placeholder="&#xf002 Search" />
                <div id="btn1">
                    Already a Member? <button type="button" class="btn" onclick="location.href='/login'"> login </button>
                </div>
                <div id="btn2">   
                    Not a Member? <button type="button"  id="but"  class="btn" onclick="location.href='/signup'"> sign up </button>
                </div>
                
            </form>
        </div>
        <div id="nav1">
            <ul>
                <li><a href="/index"> Home</a></li>
                <li><a href="/categories" > Categories </a></li>
                <li><a href="/postajob" > Post a Job </a></li>
                <li><a href="/findaproject" > Find a Project </a></li>
                <li><a href="/findfreelancer" > Find a Freelancer </a></li>
                <li><a href="/commodity" > commodity </a></li>
                <li><a href="howitworks" > How it Works </a></li>
                <li><a href="/about" > About Lystra </a></li>
            </ul>
            
        </div>