<div id="top1">
           
</div>
<div id="nav1">
    <ul>
        <li><a href="/" > Home </a></li>
        <li><a href="/categories" > Categories </a></li>
        <li><a href="/postajob" > Post a Job </a></li>
        <li><a href="" > Find a Project </a></li>
        <li><a href="" > Find a Freelancer </a></li>
        <li><a href="" > messages </a></li>
        <li><a href="" > How it Works </a></li>
        <li><a href="/about" > About Lystra </a></li>
    </ul>
            
</div>