<div id="top1">
                    
</div>
        <div id="nav1">
            <ul>
                <li><a href="/index" > Home </a></li>
                <li><a href="/createproject" > Create Project </a></li>
                <li><a href="/postajob" > Post a Job </a></li>
                <li><a href="" > Find a Project </a></li>
                <li><a href="" > Find a Freelancer </a></li>
                <li><a href="/messages" > Messages </a></li>
                <li><a href="/memberspage" > Members </a></li>
                <li><a href="/members" > Blog </a></li>
            </ul>
        </div>